<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>首頁</title>
</head>

<body>
    <h1>訪客:{{content.name}}</h1>
    <p>目前時間:{{content.time}}</p>
    <ul>
        <li><a href="/stock" target="_blank">股票資訊</a></li>
        <li><a href="/stock-chart" target="_blank">PM2.5圖表</a></li>
    </ul>
</body>

</html>