<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="1800">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.2.0/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>股票資訊</title>
</head>

<body>
    <div class="hero">
        <div class="hero-body">
            <div class="columns is-vcentered">
                <div class="cloumns is-hall">
                    <p class="title is-2">
                        股票資訊
                    </p>
                    <p class="subtitle">
                        資料來源：yahoo
                    </p>
                </div>
                <div class="column">
                    <div class="card  has-text-centered">
                        <header class="card-header">
                            <p class="card-header-title is-size-4 is-centered has-background-success has-text-white"
                                id="stock_name_site">
                                N/A
                            </p>
                        </header>
                        <div class="card-content is-size-4" id="stock_name_time">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-vcentered">
                <div class="column is-one-third">
                    標的<input class="input is-primary is-size-6" type="text" placeholder="Primary input" id="stock_name">
                </div>
                <div class="column">
                    時間自<br><input class="input is-size-6" type="date" name="stock_start" id="stock_start">
                </div>
                <div class="column">
                    至<br><input class="input is-size-6" type="date" name="stock_end" id="stock_end">
                </div>
                <p class="mt-2">
                    <input class="button is-warning" type="button" value="確定" id="stock_btn">
                </p>
            </div>
            <div id="main" style="width: 100%;height:500px;"></div>
        </div>
    </div>
    <script src="../static/js/stock-chart.js"></script>
</body>

</html>