<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5資料</title>
    <link rel="stylesheet" href="../static/css/pm25.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>

<body>
    <div id="container">
        <h1>股票資訊</h1>
        <p>更新時間:{{ time }}</p>
        <form action="/pm25" method="POST">
            <input type="submit" name="sort" value="排序">
            <input type="submit" name="update" value="更新">
        </form>
        <a href="index.html"><i class="fa fa-home"></i>返回首頁</a>
        <table border="1">
            <thead>
                <tr>
                    {% for c in columns %}
                    <th>{{ c }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% for v in values %}
            <tr>
                {% for d in v %}
                <td>{{ d }}</td>
                {% endfor%}
            </tr>
            {% endfor %}
        </table>
        <!-- {{columns}}
    {{values}} -->
    </div>
</body>

</html>